body {
  font-size: 16px;
  margin: 0;
}

body,html {
  height: 100%;
}

ul, p, dd, dl {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
}

header {
  width: 100%;
  height: 80px;
  padding-top: 26px;
  background-color: #fff;
  box-shadow: 0 2px 12px #ccc;
  box-sizing: border-box;
}

header ul  li {
  padding: 0 12px;
  display: inline-block;
  cursor: pointer;
}

.header-wrap > div {
  display: flex;
  align-items: center;
}

.header-wrap img {
  margin-right: 20px;
  width:73px
}

.header-wrap li a {
  font-size: 18px;
  color: #666;
  text-decoration: none;
}

section {
  min-height: calc(100vh - 80px);
  padding: 50px 0;
  font-size: 16px;
  padding-bottom: 280px;
  box-sizing: border-box;
}

.description{
  width: 300px;
  min-height: 150px;
  line-height: 150px;
  text-align: center;
  border: 2px solid #bbb;
  border-radius: 20px;
  font-size: 28px;
  margin: 100px auto;
}

footer {
  padding: 20px 0;
  background: #f8f8f8;
  margin-top: -280px;
  box-sizing: border-box;
}

.row {
  display: flex;  
  justify-content: space-around;
  letter-spacing: 0.02em;
  line-height: 1.6;
  color: #666;
}

.row > div {
  width: 25%;
  padding-left: 50px;
}

.row > div:first-child {
  padding-left: 0;
}

.row > div:first-child p + p {
  margin-top: 28px;
}

li {
  list-style: none;
}

h5 {
  font-weight: 200;
  letter-spacing: .1em;
  font-size: 1rem;
}

.recent-posts-ul li p:first-child {
  font-size: 12px;
}

.recent-posts-ul li {
  margin-bottom: 7px;
  line-height: 1.7;
}

.list-terms-minimal * {
  display: inline;
}

.list-terms-minimal dt:after {
  display: inline-block;
  margin-right: 3px;
  content: ":";
}

.list-semicolon>li+li:before {
  display: inline-block;
  margin-right: 4px;
  content: ";";
}

.list-terms-minimal a {
  color: #666;
}

.contact-wrap li {
  margin-bottom: 7px;
}
