@charset "UTF-8";

$fontActiveColor: #000;
$fontDefaultColor: #888;
// 心愿单购物车个数和产品新品标识
$numIconColor: #df3028;
$btnColor: #df3028;
$whiteColor: #fff;
// 线条颜色，例如分割线，边框颜色
$lineColor: #ececee;
// 底色。例如输入框默认背景色
$bottomColor: #f8f8f8;
// 热销
$popularColor: #198754;
// 推荐
$recommendedColor: #ffc045;
// 五角星star, 心愿单默认边框色
$eleLineColor: #c7c7c7;